{
  "$schema": "https://json.schemastore.org/prettierrc",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "jsonRecursiveSort": false,
  "printWidth": 100,
  "proseWrap": "never",
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-sort-json",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
